html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.shake { -webkit-animation: shake 0.5s 1; -moz-animation: shake 0.5s 1; -o-animation: shake 0.5s 1; -ms-animation: shake 0.5s 1; animation: shake 0.5s 1; }

@-moz-keyframes shake { 0%, 100% { -moz-transform: translateX(0); transform: translateX(0); }
  20%, 60% { -moz-transform: translateX(-5px); transform: translateX(-5px); }
  40%, 80% { -moz-transform: translateX(5px); transform: translateX(5px); } }

@-webkit-keyframes shake { 0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  20%, 60% { -webkit-transform: translateX(-5px); transform: translateX(-5px); }
  40%, 80% { -webkit-transform: translateX(5px); transform: translateX(5px); } }

@-o-keyframes shake { 0%, 100% { -o-transform: translateX(0); transform: translateX(0); }
  20%, 60% { -o-transform: translateX(-5px); transform: translateX(-5px); }
  40%, 80% { -o-transform: translateX(5px); transform: translateX(5px); } }

@-ms-keyframes shake { 0%, 100% { -ms-transform: translateX(0); transform: translateX(0); }
  20%, 60% { -ms-transform: translateX(-5px); transform: translateX(-5px); }
  40%, 80% { -ms-transform: translateX(5px); transform: translateX(5px); } }

@keyframes shake { 0%, 100% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
  20%, 60% { -webkit-transform: translateX(-5px); -moz-transform: translateX(-5px); -ms-transform: translateX(-5px); -o-transform: translateX(-5px); transform: translateX(-5px); }
  40%, 80% { -webkit-transform: translateX(5px); -moz-transform: translateX(5px); -ms-transform: translateX(5px); -o-transform: translateX(5px); transform: translateX(5px); } }

body, html { width: 100%; min-height: 100%; overflow: hidden; position: relative; }
@media only screen and (max-width: 768px) { body, html { overflow: visible; } }

html { font-size: 62.5%; }

@font-face { font-family: "PTSans Bold"; src: url("fonts/pts75f-webfont.eot"); src: url("fonts/pts75f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pts75f-webfont.woff") format("woff"), url("fonts/pts75f-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "OpenSans Light"; src: url("fonts/opensans-light-webfont.eot"); src: url("fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-light-webfont.woff") format("woff"), url("fonts/opensans-light-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.out { width: 100%; min-height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-width: 320px; }
@media only screen and (max-width: 640px) { .out { height: auto; } }

.wrapper { width: 100%; height: 100vh; text-align: center; text-align: center; font-size: 0; }
.wrapper:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 640px) { .wrapper { height: auto; width: 81%; padding: 0px 9.5% 20px 9.5%; } }

.logo { width: 131px; height: 93px; background: url(../img/logo.svg) no-repeat 50% 0; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; display: inline-block; }
@media only screen and (min-width: 1300px) { .logo { width: 12vw; height: 8vw; } }

.inner { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 640px) { .inner { width: 100%; max-width: 100%; padding-top: 20%; padding-top: 30px; } }
.inner h1 { font-family: "PTSans Bold", Tahoma, sans-serif; text-transform: uppercase; font-size: 24px; color: white; letter-spacing: 2px; margin-top: 8%; }
@media only screen and (min-width: 1300px) { .inner h1 { font-size: 1.9vw; } }
@media only screen and (max-width: 768px) { .inner h1 { display: block; margin: 9% auto 0px; max-width: 500px; text-align: center; line-height: 40px; }
  .inner h1 span { display: block; width: 100%; } }
@media only screen and (max-width: 640px) { .inner h1 { font-size: 5vw; line-height: 9.4vw; max-width: 95%; letter-spacing: 0.7vw; margin-top: 11%; } }
.inner p { font-family: "OpenSans Light", Tahoma, sans-serif; color: white; font-size: 14px; display: block; width: 60%; margin: 3.2% auto 8.4%; letter-spacing: 0; line-height: 1.67; }
@media only screen and (min-width: 1300px) { .inner p { font-size: 1.1vw; } }
@media only screen and (max-width: 768px) { .inner p { width: 96%; line-height: 24px; max-width: 640px; margin: 3.5% auto 12%; } }
@media only screen and (max-width: 640px) { .inner p { font-size: 4vw; line-height: 6.55vw; margin: 9% auto 13%; } }
.inner form { width: 100%; text-align: center; font-size: 0.1px; font-size: 0.01rem; margin: 0 auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 40px; }
@media only screen and (min-width: 1300px) { .inner form { width: auto; max-width: none; } }
.inner form:after { content: ""; width: 100%; display: inline-block; }
@media only screen and (max-width: 640px) { .inner form { width: 100%; padding: 0px; height: auto; } }
.inner div { display: inline-block; }
@media only screen and (max-width: 640px) { .inner div { width: 100%; } }
.inner input { background: none; color: white; border: 3px solid rgba(255, 255, 255, 0.4); border-radius: 3px; padding: 8px 10px 7px 10px; font-size: 13px; font-family: "PTSans Bold", Tahoma, sans-serif; text-transform: uppercase; width: 174px; display: inline-block; margin: 0 10px; }
@media only screen and (min-width: 1300px) { .inner input { font-size: 1.1vw; border-radius: 4px; padding: 0.6vw 0.8vw 0.5vw 0.8vw; width: 14.5vw; margin: 0 1vw; } }
@media only screen and (max-width: 768px) { .inner input { opacity: 1; }
  .inner input:-ms-input-placeholder { color: white; opacity: 0.4; }
  .inner input:-moz-placeholder { color: white; opacity: 0.4; }
  .inner input::-moz-placeholder { color: white; opacity: 0.4; }
  .inner input::-webkit-input-placeholder { color: white; opacity: 0.4; }
  .inner input::placeholder { color: white; opacity: 0.4; } }
@media only screen and (max-width: 640px) { .inner input { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1vw solid white; padding: 2.4vw 4.7vw 2.3vw 4.7vw; font-size: 3.5vw; margin: 0; margin-bottom: 6vw; border-radius: 1vw; } }
.inner .input { -webkit-transition: opacity 0.05s ease; -moz-transition: opacity 0.05s ease; -o-transition: opacity 0.05s ease; transition: opacity 0.05s ease; -webkit-appearance: none; }
.inner .input:focus { opacity: 1; border-color: white; }
.inner .input:focus:-ms-input-placeholder { opacity: 0.2; }
.inner .input:focus:-moz-placeholder { opacity: 0.2; }
.inner .input:focus::-moz-placeholder { opacity: 0.2; }
.inner .input:focus::-webkit-input-placeholder { opacity: 0.2; }
.inner .input:focus::placeholder { opacity: 0.2; }
.inner .input.is-error { border-color: red; opacity: 1; }
.inner .submit { background: #3aaf63; border-color: #3aaf63; width: 200px; -webkit-appearance: none; -webkit-transition: background 0.05s ease, border-color 0.05s ease; -moz-transition: background 0.05s ease, border-color 0.05s ease; -o-transition: background 0.05s ease, border-color 0.05s ease; transition: background 0.05s ease, border-color 0.05s ease; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.inner .submit:hover { background: #4f79c5; border-color: #4f79c5; }
.inner .submit:active { background: white; border-color: white; color: black; }
@media only screen and (max-width: 768px) { .inner .submit:hover { background-color: #3aaf63; border-color: #3aaf63; } }
@media only screen and (max-width: 640px) { .inner .submit { width: 100%; border-radius: 1vw; } }

.video, .overlay, .bg { position: absolute; top: 0; left: 0; width: 100%; bottom: 0; right: 0; z-index: 1; }

.bg { background: url(../img/photo.jpg) no-repeat center center; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }

.overlay { background: url(../img/filter.png) center center no-repeat; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }

video { position: absolute; right: 0; bottom: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; }

.out { position: relative; z-index: 10; }

.logo { opacity: 0; -webkit-transition: opacity 0.4s ease, top 0.4s ease; -webkit-transition-delay: 0.3s, 0.3s; -moz-transition: opacity 0.4s ease 0.3s, top 0.4s ease 0.3s; -o-transition: opacity 0.4s ease 0.3s, top 0.4s ease 0.3s; transition: opacity 0.4s ease 0.3s, top 0.4s ease 0.3s; position: relative; top: -15px; }
.a .logo { opacity: 1; top: 0; }

h1 { opacity: 0; -webkit-transition: opacity 0.4s ease; -webkit-transition-delay: 0.6s; -moz-transition: opacity 0.4s ease 0.6s; -o-transition: opacity 0.4s ease 0.6s; transition: opacity 0.4s ease 0.6s; }
.a h1 { opacity: 1; }

p { opacity: 0; -webkit-transition: opacity 0.4s ease; -webkit-transition-delay: 0.9s; -moz-transition: opacity 0.4s ease 0.9s; -o-transition: opacity 0.4s ease 0.9s; transition: opacity 0.4s ease 0.9s; }
.a p { opacity: 0.5; }

.first { opacity: 0; position: relative; top: -15px; -webkit-transition: opacity 0.4s ease, top 0.4s ease; -webkit-transition-delay: 1.2s, 1.2s; -moz-transition: opacity 0.4s ease 1.2s, top 0.4s ease 1.2s; -o-transition: opacity 0.4s ease 1.2s, top 0.4s ease 1.2s; transition: opacity 0.4s ease 1.2s, top 0.4s ease 1.2s; }
.a .first { opacity: 1; top: 0; }
.a .first:focus { opacity: 1; }
.a .first:focus:-ms-input-placeholder { opacity: 0.2; }
.a .first:focus:-moz-placeholder { opacity: 0.2; }
.a .first:focus::-moz-placeholder { opacity: 0.2; }
.a .first:focus::-webkit-input-placeholder { opacity: 0.2; }
.a .first:focus::placeholder { opacity: 0.2; }

.second { opacity: 0; position: relative; top: -15px; -webkit-transition: opacity 0.4s ease, top 0.4s ease; -webkit-transition-delay: 1.5s, 1.5s; -moz-transition: opacity 0.4s ease 1.5s, top 0.4s ease 1.5s; -o-transition: opacity 0.4s ease 1.5s, top 0.4s ease 1.5s; transition: opacity 0.4s ease 1.5s, top 0.4s ease 1.5s; }
.a .second { opacity: 1; top: 0; }

.third { opacity: 0; position: relative; top: -15px; -webkit-transition: opacity 0.4s ease, top 0.4s ease; -webkit-transition-delay: 1.8s, 1.8s; -moz-transition: opacity 0.4s ease 1.8s, top 0.4s ease 1.8s; -o-transition: opacity 0.4s ease 1.8s, top 0.4s ease 1.8s; transition: opacity 0.4s ease 1.8s, top 0.4s ease 1.8s; }
.a .third { opacity: 1; top: 0; }
